<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <title>Codefellowship</title>
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="oops-font">Oops!</h1>
            <h3 th:text="${status} + ': ' + ${error}"></h3>
            <p>Sorry an error has occurred.</p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
</body>
</html>